<footer class="footer p-20">
  &copy; 2019 neuefische
  <div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, debitis
    hic assumenda mollitia suscipit quia explicabo sequi quo id ipsam autem vel
    perspiciatis iusto repellendus itaque, commodi iste, sunt asperiores.
  </div>
</footer>
