<header class="header">
  <div class="logo__container m-10">
    <div class="logo__background"></div>
    <div class="logo"></div>
  </div>
  <div>
    <h1 class="header__h1">Florian Schubert</h1>
    <h2 class="header__h2">Content | Coding | Communication</h2>
  </div>
</header>
