<main class="grid__home">
  <div class=" sm-span-2"><h2 class="home__h2">Skills /></h2></div>
  <div class=" sm-span-2">
    <h3>Tech</h3>
    <ul>
      <li class="skills__tag">JavaScript</li>
      <li class="skills__tag">React</li>
      <li class="skills__tag">Redux</li>
      <li class="skills__tag">HTML5</li>
      <li class="skills__tag">CSS3</li>
      <li class="skills__tag">Modular CSS</li>
      <li class="skills__tag">Responsive Websites</li>
      <li class="skills__tag">Mobile Apps</li>
      <li class="skills__tag">Node.js</li>
      <li class="skills__tag">NoSQL</li>
      <li class="skills__tag">Scrum & Kanban</li>
    </ul>
    <h3>Personal</h3>
    <ul>
      <li class="skills__tag">JLPT N2</li>
      <li class="skills__tag">DELF B2</li>
      <li class="skills__tag">Projektmanagmenet</li>
      <li class="skills__tag">Corporate Communications</li>
      <li class="skills__tag">Adobe Creative Suite</li>
      <li class="skills__tag">Steinberg Cubase</li>
    </ul>
    <h3>Soft Skills</h3>
    <ul>
      <li class="skills__tag">Musiker</li>
      <li class="skills__tag">Neugierig</li>
      <li class="skills__tag">Weltoffemn</li>
      <li class="skills__tag">Kommunikativ</li>
      <li class="skills__tag">Humor</li>
      <li class="skills__tag">Auslandserfahrung</li>
    </ul>
  </div>
  <div class="contact home__h2 span-2">
    <h2>Contact</h2>
    <a class="contact__link" href="mailto:flo.schubert@me.com">E-Mail</a>
  </div>
</main>
