<main class="grid__home">
  <div class=" sm-span-2"><h2 class="home__h2">Skills /></h2></div>
  <div class=" sm-span-2">
    <h3>Tech</h3>
    <ul>
      <li class="skills__tag">JavaScript</li>
      <li class="skills__tag">React</li>
      <li class="skills__tag">Redux</li>
      <li class="skills__tag">HTML5</li>
      <li class="skills__tag">CSS3</li>
      <li class="skills__tag">Modular CSS</li>
      <li class="skills__tag">Responsive Websites</li>
      <li class="skills__tag">Mobile Apps</li>
      <li class="skills__tag">Node.js</li>
      <li class="skills__tag">NoSQL</li>
      <li class="skills__tag">Scrum & Kanban</li>
    </ul>
    <h3>Personal</h3>
    <ul>
      <li class="skills__tag">JLPT N2</li>
      <li class="skills__tag">DELF B2</li>
      <li class="skills__tag">Projektmanagmenet</li>
      <li class="skills__tag">Corporate Communications</li>
      <li class="skills__tag">Adobe Creative Suite</li>
      <li class="skills__tag">Steinberg Cubase</li>
    </ul>
    <h3>Soft Skills</h3>
    <ul>
      <li class="skills__tag">Musiker</li>
      <li class="skills__tag">Neugierig</li>
      <li class="skills__tag">Weltoffemn</li>
      <li class="skills__tag">Kommunikativ</li>
      <li class="skills__tag">Humor</li>
      <li class="skills__tag">Auslandserfahrung</li>
    </ul>
  </div>
  <div class="contact home__h2 span-2">
    <h2>Contact</h2>
    <a class="contact__link" href="mailto:flo.schubert@me.com">E-Mail</a>
    <a class="contact__link" href="tel:01745110277">Phone</a>
  </div>
  <div><h2 class="home__h2 sm-span-2">About
/>

  </h2></div>
  <div class="sm-span-2">
    <h3>Mein Weg</h3>
    <p class="">
      Nach ersten Gehversuchen im ländlichen Baden-Württemberg mit Frontpage und
      dem Dreamweaver zog ich 2012 nach Hamburg um in der wohl internationalsten
      deutschen Stadt zu studieren. Während meines Japanologiestudiums unter
      Prof. Dr. Gabriele Vogt beschäftigte ich mich mit den internationalen
      Beziehungen in Ostasien und insbesondere mit japanischer Medienpolitik.
      Stationen in Kobe und bei einem deutschen Großkonzern in Tokyo führten
      mich in die Welt der Unternehmenskommunikation und des Internet of Things.
      Zurück in Hamburg absolvierte ich ein überwiegend analoges Volontariat in
      einer mittelständischen Kommunikationsberatung. <br />
      Wie Firmen ihre interne Kommunikation insbesondere über Ländergrenzen
      hinweg verbessern können ist nun mein Interessenschwerpunkt. Längst
      stoppen Menschen, Waren und Dienstleistungen nicht mehr an Ländergrenzen.
      Die Digitalisierung bietet uns einzigartige Chancen, Geschäfte effizienter
      abzuwickeln und das Potential auszunutzen, dass uns eine internationale
      Zusammenarbeit bietet. <br />
      Nach zwei Jahren Erfahrung im Kommunikationsumfeld, sowohl national als
      auch international, entschied ich mich im November 2018 für ein
      dreimonatiges Coding Bootcamp bei neue fische in Hamburg, um mein bereits
      vorhandes Wissen zu erweitern und professionell ins Web-Development
      einsteigen zu können.
    </p>
    <h3>Wer ich bin</h3>
    <p>
      Technologie muss nicht nur praktisch sein, sondern auch Spaß machen. Mit
      Erfahrungen aus dem westlichen- ebenso wie aus dem asiatischen Kulturkreis
      will ich Unternehmen helfen, ihre Mitarbeiter wieder näher
      zusammenzubringen. Hierbei stütze ich mich auf meine eigenen Erfahrungen
      in der Unternehmenskommunikation. <br />
      Gemeinsam finden wir Lösungen, die nicht zur funktionieren, sondern zudem
      auch grafisch ansprechend für Ihre Nutzer sind. <br />
      In meiner Freizeit bin ich leidenschaftlicher Musiker, koche gerne und
      backe auch mal einen Kuchen.
    </p>
    <div class="justify-content-space-between">
      <a href="https://github.com/FSchubert92">
        <figure>
          <img src="/img/GitHub-Mark-120px-plus.png" alt="GitHub-Logo" />
      </a>
        <figcaption>Visit my GitHub Profile to see my Portfolio</figcaption>
      </figure>
      <a href="https://codepen.io/fschubert92/">
        <figure>
          <img src="/img/codepen-logo.png" alt="Codepen-Logo" />
      </a>
        <figcaption>Interested in some pens I do? Click here!</figcaption>
      </figure>
      <a href="https://www.neuefische.de/">
        <figure>
          <img
            src="/img/26805423_1409968235797327_4132342355469485403_n.png"
            alt="Neue-Fische"
          />
      </a>
        <figcaption>
          Interested in where I learned to code? Click here!
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="bg-dark sm-span-2">
    <h2 class="Referenzen__h2">Refe <br> renzen
    /></h2>
    <h2 class="Referenzen__h2-sm">Referenzen</h2>
  </div>
  <div class="sm-span-2 bg-dark display-flex pl-15">
  <div>
<h4 class="Referenzen__tag">2019</h4>
<p class="Referenzen__text"><span class="bold">Neue Fische, Hamburg</span> <br> 3-Monatiges Bootcamp zum Webdeveloper <br>
  <span class="italic">Inhalte:</span>JavaScript | HTML 5 | CSS 3 | Node.js | React etc.</p>
  </div>
  <div>
      <h4 class="Referenzen__tag">2018</h4>
      <p class="Referenzen__text"> <span class="bold">RAIKESCHWERTNER GmbH, Hamburg</span> Volontariat als PR- und Kommunikationsberater. Strategische Kommunikationsberatung für Behörden und mittelständische Unternehmen</p>
      
        </div>
        <div>
            <h4 class="Referenzen__tag">2017</h4>
            <p class="Referenzen__text"> <span class="bold">Robert BOSCH GmbH, Tokyo</span> <br> Praktikum in der Unternehmenskommunikation. Contentmanagement und Eventorganisation</p>
            <p class="Referenzen__text"> <span class="bold">Universität Hamburg</span> Abschluss B.A Ostasien / Politikwissenschaft. Thema der Arbeit: "Demokratieverständnis in Japan unter Premierminister Abe Shinzo</p>
            
              </div>
              <div>
                  <h4 class="Referenzen__tag">2013</h4>
                  <p class="Referenzen__text"> <span class="bold">DAAD, Bonn</span> Freier Mitarbeiter im Referat Standortmarketing Deutschland. Contentproduktion für die Website <a class="referenzen__link"href="https://www.study-in.de">www.study-in.de.</a> </p>
                  
                    </div>
  </div>
</main>
