.grid {
  display: grid;
  height: auto;
  grid-template-rows: 100vh 100vh 100vh;
}

.grid__home {
  display: grid;
  height: auto;
  grid-template-columns: 30% auto;
  grid-template-rows: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}
